doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title UIA
    link(rel="stylesheet" href="stylesheets/styles.css")
    link(rel="icon" type="image/png" href="images/favicon.png" sizes="32x32")
  header
    h1 User Information Application (UIA)
    nav
      a(href="/users") Users
      a(href="/search") Search
      a(href="/add") Add
  block content
  footer
    p User Information Application
    p Robert Schaap for NYCDYA - 2017
