extends layout.pug

block content
  main
    h2 Search
    p User(s) first and/or last name.
    section(id="search")
        form(id="searchform" action="/searchresults" method="post" autocomplete="off")
          button(id="srcbtn" type="button" value="search") Search
          input(id="srcfield" type="search" name="searchfield")
        div(id="searchsuggest")
