/* Global Styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: 'Avenir Next', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    width: 90%;
    background-color: #eee;
}
main {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    border-bottom: 2px solid #ccc;
}
h1 {
    font-weight: 100;
    margin-bottom: 0;
}
h2 {
    font-weight: 100;
    border-bottom: 1px solid #ccc;
}

/*Header & Footer */
header {
    padding: 1rem;
}
footer {
    padding: 1rem 1rem;
}
footer p {
    margin: 0;
    font-size: 0.8rem;
}
nav a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #009999;
    font-weight: 500;
}
nav a+a::before {
    content: ' | ';
    color: #aaa;
}

/* User Table */
table {
    border-collapse: collapse;
    min-width: 100%;
}
thead {
    text-align: left;
    background-color: #009999;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #f6f6f6;
}

/* Forms */
#searchform  {
    width: 600px;
    border: 1px solid #eeeeee;
}
#searchform::after {
    content: "";
    display: table;
    clear: both;
}
#srcfield, #srcbtn {
    border: none;
    padding: 0rem 1rem;
    font-family: 'Avenir Next', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background-color: white;
}
#srcfield {
    width: 80%;
    float: left;
}
#srcbtn {
    width: 20%;
    float: right;
}
#srcfield:focus {
    outline: none;
}
#searchsuggest {
    width: 600px;
}
#searchsuggest ul {
    margin: 0;
    padding: 0;
    border: 1px solid #eeeeee;
}
#searchsuggest ul li {
    list-style-type: none;
    padding: 0rem 1rem;
}
.hover {
    background-color: #eeeeee;
}
